.container-fluid, .container, .jumbotron{
  margin: 0;
}

.overlay{
  height: 100vh;
  background-color: #2225;
  z-index: 3;
}
body .img .overlay .container{
  padding-top: 40vh !important;
}

img{
  z-index: -1;
  height: 100vh;
  width:auto;
  position: fixed;
  margin-left: 50%;
  transform: translateX(-50%);
}
h1, p, a, .container{
text-align: center;
justify-content: center;
color: #fff !important;
text-shadow: 2px 2px 8px #000000;
}

a{
  margin-left: auto;
  margin-right: auto;
  transition: .18s ease-in-out;
}
a:hover
{
  transform: scale(1.1);
}
